.img-fluid {
  max-width: 100%;
  height: auto;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }
}